.about-wrapper{
    width: 50%;
    height: 100%;
}

.profile-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .profile{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image: url("../../Assets/Images/profile.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .profile-txt{

        & > p{
            margin: 10px 0;
            font-weight: bold;
            font-family: "Feel My Heart";
            font-size: 1.3rem;
        }

        & > div > p{
            margin-bottom: 5px;
            font-weight: lighter;
            font-size: 0.9rem;
        }
    }
}

.description-wrapper{
    width: 50%;
    display: flex;
    /*>>> Quando for colocado a foto dos certificados <<<*/
    // justify-content: flex-end;
    justify-content: center;
    flex-direction: column;

    & > div{
        // display: flex;
        // flex-direction: column;
        p{
            font-weight: lighter;
            
            &:first-of-type{
                font-weight: bold;
                margin: 10px 0;
            }

            span{
                font-weight: bold;
                font-family: "Feel My Heart";
            }
        }
    }

    & > div > div{
        width: 48%;
        height: 200px;
        // display: inline-block;
        /*>>> Quando for colocado a foto dos certificados <<<*/
        // background-image: url("../../Assets/Images/certificado.jpg");
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: top;

        &:last-of-type{
            // margin-left: 15px;
        }
    }
}