.App {
  width : 100vw;
  height: 100vh;

  background-image   : url('./Assets/Images/bg.jpg');
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: top center;

  display              : grid;
  grid-template-columns: repeat(1, 10% 90%);
  grid-template-rows   : repeat(1, 10% 10% 70% 10%);

  header {
    height          : 100%;
    grid-column     : 1 / 3;
    grid-row        : 2 / 3;
    background-color: #ebafaf;
  }

  .aside {
    height     : 100vh;
    grid-column: 1 / 2;
    grid-row   : 1 / 5;
    z-index    : 9;
  }

  main {
    height     : 100%;
    grid-column: 1 / 3;
    grid-row   : 3 / 4;

    display        : flex;
    align-items    : center;
    justify-content: center;
  }

  footer {
    height     : 100%;
    grid-column: 1 / 3;

    grid-row: 4 / 5;
  }

  div.container {
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 0 2%;
  }
}